@use '/src/variables';

@import '~bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: variables.$accent-color-gray;
    color: white;
}

.row {
    margin: 0 !important;
}

/* Reset text decoration */
a,
a:visited {
    text-decoration: none;
}

/* Reset list styles */
ul,
ol {
    list-style: none;
}

/* Reset form elements */
input,
button,
textarea,
select {
    appearance: none;
    border-radius: 0;
    border: 0;
    outline: none;

    &:focus {
        outline: none;
    }
}


.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}


/*                                                 THEME                                                               */


button {
    color: white;
    border: 2px solid #FFF;
    border-radius: 8px;
    text-align: center;

    &:hover {
        background-color: white;
        color: black;
    }
}

